/* Pharmacy wesite style */

body{
    background-color: whitesmoke;
}
header{
    text-align: center;
    background-color: rgb(75, 73, 73);
    color: white;
    font-size: xx-large;
    padding: 20px;
    font-weight: bolder;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    bottom: 0;
    position: relative
}
#navigation{
    position: sticky;
    top: 0%;
    z-index: 1;

}
.menu{
    margin: 0%;
    background-color: rgba(151, 148, 148, 0.7);
}
.menu li{
    display: inline-block;
    padding: 10px;

}
.menu  li  a{
    color: white;
    text-decoration: none;
    font-size: larger;
}
.menu li:hover{
    background-color: rgba(0,0,0,0.8);
}
.menu li:nth-child(2):hover #dd_1, .menu li:nth-child(3):hover #dd_2{
    display: block;
}
#dd_1,#dd_2{
    position: absolute;
    width: auto;
    max-width: 150px;
    display: none;
    top: 40px;
    background-color: whitesmoke;
    padding: 0%;
}

#dd_1 li, #dd_2 li{
    display: block;
}

#dd_1 li:hover, #dd_2 li:hover{
    background-color: rgba(151, 148, 148, 0.7);
}

#dd_1 li a, #dd_2 li a{
    font-size: 20px;
    color: steelblue;
    text-decoration: none;
}
.slide{
    height: 400px;
    background: url(Images/Animation/ani1.jpg);
    background-size: 100% 100%;
    animation: slide 30s infinite;
    border: 2px solid steelblue;
}
@keyframes slide {
    
    0%{background: url(Images/Animation/ani2.png);background-size: 100% 100%;}
    25%{background: url(Images/Animation/ani3.jpg);background-size: 100% 100%;}
    50%{background: url(Images/Animation/ani4.jpg);background-size: 100% 100%;}
    75%{background: url(Images/Animation/ani5.jpg);background-size: 100% 100%;}
    100%{background: url(Images/Animation/ani1.jpg); background-size: 100% 100%;}
}

.p1,.p2{
    position: relative;
    display: inline-block;
    background-color: #f2eff7;
    margin: 5px;
    border-radius: 5px;
    margin-left: 30px;
}

img{
    height: 200px;
    width: 300px;
    margin-left: 5px;
    margin-right: 5px;
}
h4{
    margin-bottom: 0;
    margin-left: 5px;
}
p{
    margin: 0;
    margin-left: 5px;
    color: rgb(0, 153, 255);
}
button{
    border-radius: 10px;
    display: inline-block;
    width: 97%;
    margin-left: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    font-size: 1rem;
    color: rgb(255, 183, 0);
    background-color: #e6defa;
    font-weight: bolder;
    border: 1px solid #7442f4;
}

button:active{
    background-color: rgb(250, 234, 230);
    border: 1px solid rgb(0, 255, 76);
}

.p1:hover, .p2:hover{
    transform:scale(1.2);
}

